#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: Python

# Byte-compiled / optimized / DLL files
/*
/*/
/*/__pycache__/
/*/*/__pycache__/
/*/*/*/__pycache__/
/*/__MACOSX/
/*/*/__MACOSX/
/*/*.xlsm
*~$*.xlsx





# Distribution / packaging


!/.gitignore
!/dangdang/
!/honglifang/
!/jdlogin/
!/node_modules/
!/ozon/
!/ozonApi/
!/ozon_1/
!/ozon2mango/
!/ozon_async_process/
!/ozonFeapder/
!/ozonFlask/
!/ozon_imgdown/
!/taobao/
!/tianwentai/
!/wb2mango/
!/wbFlask/
!/wildberries/

